.CharacterSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CharacterList {
  width: 60%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  list-style: none;
  overflow-x: scroll;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.CharacterList::-webkit-scrollbar {
  display: none;
}
.CharacterList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
