.CharacterSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.CharacterList {
  width: 60%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  list-style: none;
}
.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  background-image: url("../images/background.gif");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
