.header {
  width: 100%;
  display: flex;
  justify-content: center;
  &__logo {
    margin: 20px 0;
    animation-name: zoomInOut;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    @keyframes zoomInOut {
      from {
        margin-right: 0%;
        width: 30%;
      }

      25% {
        margin-right: 3%;
        width: 32%;
      }
      50% {
        margin-right: 0%;
        width: 30%;
      }
      75% {
        margin-left: 3%;
        width: 32%;
      }
      to {
        margin-left: 0%;
        width: 30%;
      }
    }
    @media (max-width: 768px) {
      @keyframes zoomInOut {
        from {
          margin-right: 0%;
          width: 70%;
        }

        25% {
          margin-right: 5%;
          width: 60%;
        }
        50% {
          margin-right: 0%;
          width: 70%;
        }
        75% {
          margin-left: 5%;
          width: 80%;
        }
        to {
          margin-left: 0%;
          width: 70%;
        }
      }
    }
  }
}
